<html>
    <head>
        <title>Wipro SDN traffic monitoring blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Wipro SDN traffic monitoring blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">SDN</a></h2>
            <p>Software-Defined Networking (SDN) is an emerging architecture that is dynamic, manageable, cost-effective, and adaptable, making it ideal for the high-bandwidth, dynamic nature of today's applications. This architecture decouples the network control and forwarding functions enabling the network control to become directly programmable and the underlying infrastructure to be abstracted for applications and network services. The OpenFlow® protocol is a foundational element for building SDN solutions.</p>
        </div>

        <div>
            <h2><a href="">ODL</a></h2>
            <p>The OpenDaylight Project is a collaborative open source project hosted by The Linux Foundation. The goal of the project is to accelerate the adoption of software-defined networking (SDN) and create a solid foundation for Network Functions Virtualization (NFV). The software is written in Java.</p>
        </div>
    </body>
</html>
